This program is designed for the Fed-Ex Shipping report for Goodwill Central Coast E-commerce Department. It takes the Fed-Ex shipping report spreadsheet(xls format) and provides the following: Aggregated shipping totals amounts by invoice #, aggregated shipping totals for a specified date range, and aggregated residential shipping charges for specified date range.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("fed_ex_05-10.xls")

Data Cleaning & Organizing

In [3]:
#Reduce df to columns that are needed to simplify analysis
df = df[["Invoice Date", "Shipment Date", "Invoice Number","Express or Ground Tracking ID", "Original Customer Reference", 
        "Transportation Charge Amount", 'Tracking ID Charge Description',
 'Tracking ID Charge Amount',
 'Tracking ID Charge Description.1',
 'Tracking ID Charge Amount.1',
 'Tracking ID Charge Description.2',
 'Tracking ID Charge Amount.2',
 'Tracking ID Charge Description.3',
 'Tracking ID Charge Amount.3',
 'Tracking ID Charge Description.4',
 'Tracking ID Charge Amount.4',
 'Tracking ID Charge Description.5',
 'Tracking ID Charge Amount.5',
 'Tracking ID Charge Description.6',
 'Tracking ID Charge Amount.6',
 'Tracking ID Charge Description.7',
 'Tracking ID Charge Amount.7', "Net Charge Amount"]]

In [4]:
df["Invoice Date"] = df["Invoice Date"].astype(str) #convert to date
df["Invoice Date"] = pd.to_datetime(df["Invoice Date"])

df["Shipment Date"] = df["Shipment Date"].astype(str) #convert to date
df["Shipment Date"] = pd.to_datetime(df["Shipment Date"])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16750 entries, 0 to 16749
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Invoice Date                      16750 non-null  datetime64[ns]
 1   Shipment Date                     16750 non-null  datetime64[ns]
 2   Invoice Number                    16750 non-null  int64
 3   Express or Ground Tracking ID     16750 non-null  int64
 4   Original Customer Reference       16729 non-null  object
 5   Transportation Charge Amount      16739 non-null  float64
 6   Tracking ID Charge Description    10209 non-null  object
 7   Tracking ID Charge Amount         10209 non-null  float64
 8   Tracking ID Charge Description.1  3851 non-null   object
 9   Tracking ID Charge Amount.1       3851 non-null   float64
 10  Tracking ID Charge Description.2  741 non-null    object
 11  Tracking ID Charge Amount.2       740 non-null    float64
 12  Tracking ID Charge Description.3  38 non-null     object
 13  Tracking ID Charge Amount.3       37 non-null     float64
 14  Tracking ID Charge Description.4  1 non-null      object
 15  Tracking ID Charge Amount.4       1 non-null      float64
 16  Tracking ID Charge Description.5  1 non-null      object
 17  Tracking ID Charge Amount.5       1 non-null      float64
 18  Tracking ID Charge Description.6  1 non-null      object
 19  Tracking ID Charge Amount.6       0 non-null      float64
 20  Tracking ID Charge Description.7  0 non-null      float64
 21  Tracking ID Charge Amount.7       0 non-null      float64
 22  Net Charge Amount                 16750 non-null  float64
dtypes: datetime64[ns](2), float64(11), int64(2), object(8)
memory usage: 2.9+ MB

Aggregated Total Charges by Invoice #

In [6]:
invoice_nums = list(df["Invoice Number"].unique()) #create list of all invoice numbers
for i in invoice_nums: #for loop for each of the invoice numbers
    df_invoice = df[df["Invoice Number"]== i] 

    print("INVOICE NUMBER", i)
    print("Transportation Base:", df_invoice["Transportation Charge Amount"].sum())

    #takes all Tracking id columns and stacks them on top of each other creating one long column
    id_series = pd.concat([df_invoice['Tracking ID Charge Description'], 
                           df_invoice['Tracking ID Charge Description.1'], 
                           df_invoice['Tracking ID Charge Description.2'], 
                                      df_invoice['Tracking ID Charge Description.3'], 
                                      df_invoice['Tracking ID Charge Description.4'],
                                      df_invoice['Tracking ID Charge Description.5'],
                                      df_invoice['Tracking ID Charge Description.6']]) #Create a series of all id columns
    #Takes tracking amounts and stacks them on each other creating one long column
    amount_series = pd.concat([df_invoice['Tracking ID Charge Amount'], 
                               df_invoice['Tracking ID Charge Amount.1'], 
                               df_invoice['Tracking ID Charge Amount.2'], 
                               df_invoice['Tracking ID Charge Amount.3'], 
                               df_invoice['Tracking ID Charge Amount.4'],
                                df_invoice["Tracking ID Charge Amount.5"], 
                               df_invoice["Tracking ID Charge Amount.6"]]) #create a series of all amount columns

    #combined above amount & id into df
    combo = pd.DataFrame(pd.concat([id_series, amount_series], axis = 1)) 

    combo.rename(columns={1:"Totals", 0:"Additional_Charges"}, inplace=True) #renamed columns

    #groups the new df by the Extra Charges and aggregates (sum) each category
    print(combo["Totals"].groupby(combo["Additional_Charges"]).sum().sort_values(ascending=False)) 

    #grouped and sorted to get aggregate values for each shipping charge for March 
    print()
    print("Total 'Extra Charges' NOT including Transportation Base:", combo["Totals"].sum())

    print("Total Transportation Base + 'Extra Charges':", df_invoice["Transportation Charge Amount"].sum() + combo["Totals"].sum())

    print("Total Net Shipping Charges:", df_invoice["Net Charge Amount"].sum())
    print('*********************************************************************************')

INVOICE NUMBER 762252859
Transportation Base: 2547.37
Additional_Charges
Declared Value         178.00
DAS Resi               115.50
DAS Extended Resi       49.95
Adult Signature          8.32
DAS Comm                 8.25
Additional Handling      4.50
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 364.52
Total Transportation Base + 'Extra Charges': 2911.89
Total Net Shipping Charges: 2911.8900000000003
*********************************************************************************
INVOICE NUMBER 762953919
Transportation Base: 4183.92
Additional_Charges
Declared Value         254.00
DAS Resi               193.05
DAS Extended Resi      101.75
Oversize Charge         61.79
Additional Handling     13.50
DAS Comm                11.55
AHS - Dimensions         4.50
Adult Signature          4.16
DAS Extended Comm        3.70
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 648.0
Total Transportation Base + 'Extra Charges': 4831.92
Total Net Shipping Charges: 4831.92
*********************************************************************************
INVOICE NUMBER 763692249
Transportation Base: 5443.2300000000005
Additional_Charges
Declared Value         251.00
DAS Resi               249.15
DAS Extended Resi      135.05
Address Correction      33.57
DAS Comm                19.80
Additional Handling     13.50
AHS - Dimensions         4.50
DAS Extended Comm        3.70
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 710.27
Total Transportation Base + 'Extra Charges': 6153.5
Total Net Shipping Charges: 6153.5
*********************************************************************************
INVOICE NUMBER 764467498
Transportation Base: 5281.120000000001
Additional_Charges
DAS Resi                    202.95
Declared Value              185.00
DAS Extended Resi           151.70
AHS - Dimensions             18.00
Additional Handling          13.50
DAS Extended Comm            11.10
DAS Comm                      9.90
DAS Hawaii Resi               6.00
Direct Signature              3.12
Additional weight charge      0.57
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 601.84
Total Transportation Base + 'Extra Charges': 5882.960000000001
Total Net Shipping Charges: 5882.96
*********************************************************************************
INVOICE NUMBER 765831705
Transportation Base: 10569.93
Additional_Charges
Declared Value         488.00
DAS Resi               430.65
DAS Extended Resi      294.15
DAS Comm                33.00
Address Correction      22.38
AHS - Dimensions        13.50
Additional Handling     13.50
Adult Signature          8.32
DAS Extended Comm        5.55
Direct Signature         3.12
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 1312.1699999999998
Total Transportation Base + 'Extra Charges': 11882.1
Total Net Shipping Charges: 11882.100000000002
*********************************************************************************
INVOICE NUMBER 766532518
Transportation Base: 5089.990000000001
Additional_Charges
Declared Value        269.00
DAS Resi              212.85
DAS Extended Resi     114.70
DAS Comm               18.15
Adult Signature        12.48
Address Correction     11.19
AHS - Dimensions        9.00
Direct Signature        6.24
DAS Extended Comm       5.55
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 659.1600000000001
Total Transportation Base + 'Extra Charges': 5749.150000000001
Total Net Shipping Charges: 5749.150000000001
*********************************************************************************
INVOICE NUMBER 768015829
Transportation Base: 12046.130000000001
Additional_Charges
Residential                                1916.98
Fuel Surcharge                             1043.26
DAS Resi                                    506.38
Declared Value                              454.84
DAS Extended Resi                           320.10
Declared Value Charge                        51.99
Address Correction                           34.51
DAS Comm                                     25.17
Additional Handling                          23.07
AHS - Dimensions                             17.75
DAS Extended Comm                            11.38
Additional Handling Charge - Dimensions       4.69
Residential Delivery                          2.02
Additional weight charge                      0.25
Direct Signature                              0.00
Weekday Delivery                              0.00
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 4412.39
Total Transportation Base + 'Extra Charges': 16458.52
Total Net Shipping Charges: 16458.519999999997
*********************************************************************************
INVOICE NUMBER 768800316
Transportation Base: 5948.860000000001
Additional_Charges
Residential            1822.04
Fuel Surcharge         1065.77
Declared Value          391.04
DAS Resi                280.36
DAS Extended Resi       144.00
DAS Comm                 18.92
Additional Handling       9.38
DAS Extended Comm         3.84
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 3735.3499999999995
Total Transportation Base + 'Extra Charges': 9684.21
Total Net Shipping Charges: 9684.21
*********************************************************************************
INVOICE NUMBER 769513615
Transportation Base: 6251.31
Additional_Charges
Residential            1923.04
Declared Value          480.24
DAS Resi                288.05
DAS Extended Resi       175.86
Address Correction       23.32
DAS Comm                 20.57
Direct Signature          9.75
DAS Extended Comm         7.61
Additional Handling       4.69
AHS - Dimensions          3.44
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 2936.5699999999997
Total Transportation Base + 'Extra Charges': 9187.880000000001
Total Net Shipping Charges: 9187.880000000001
*********************************************************************************
INVOICE NUMBER 770295970
Transportation Base: 6927.74
Additional_Charges
Residential            2068.48
Declared Value          464.88
DAS Resi                333.68
DAS Extended Resi       176.64
Direct Signature         19.50
DAS Comm                 17.20
Additional Handling      14.07
Address Correction       11.66
DAS Extended Comm         9.60
AHS - Dimensions          8.51
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 3124.22
Total Transportation Base + 'Extra Charges': 10051.96
Total Net Shipping Charges: 10051.96
*********************************************************************************
INVOICE NUMBER 771114066
Transportation Base: 9286.710000000001
Additional_Charges
Residential            2393.70
Declared Value          503.36
DAS Resi                426.56
DAS Extended Resi       219.96
AHS - Dimensions         49.41
DAS Comm                 25.80
Address Correction       23.32
DAS Extended Comm        19.20
Adult Signature          12.96
Additional Handling       4.69
Direct Signature          3.25
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 3682.21
Total Transportation Base + 'Extra Charges': 12968.920000000002
Total Net Shipping Charges: 12968.920000000002
*********************************************************************************
INVOICE NUMBER 771756679
Transportation Base: 5431.389999999999
Additional_Charges
Residential            971.62
Declared Value         255.84
DAS Resi               232.20
DAS Extended Resi      139.00
Oversize Charge         54.93
Additional Handling     31.79
AHS - Dimensions        31.14
DAS Comm                12.04
Address Correction      11.66
DAS Extended Comm       11.52
AHS - Weight             8.78
Adult Signature          4.32
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 1764.84
Total Transportation Base + 'Extra Charges': 7196.23
Total Net Shipping Charges: 7196.23
*********************************************************************************
INVOICE NUMBER 772538523
Transportation Base: 7627.42
Additional_Charges
Residential            434.30
Declared Value         340.08
DAS Resi               285.52
DAS Extended Resi      174.28
Oversize Charge         64.41
Additional Handling     50.03
DAS Comm                24.08
AHS - Dimensions        13.20
Address Correction      11.66
DAS Extended Comm        3.84
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 1401.3999999999999
Total Transportation Base + 'Extra Charges': 9028.82
Total Net Shipping Charges: 9028.82
*********************************************************************************
INVOICE NUMBER 773277557
Transportation Base: 6104.089999999999
Additional_Charges
Declared Value              301.60
Residential                 202.00
DAS Resi                    199.52
DAS Extended Resi           139.84
AHS - Dimensions             18.76
Additional Handling          18.24
DAS Comm                     12.04
Address Correction           11.66
DAS Hawaii Comm               6.25
DAS Extended Comm             5.76
Indirect Signature            4.32
Direct Signature              3.25
Adult Signature               2.16
Additional weight charge      0.58
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 925.98
Total Transportation Base + 'Extra Charges': 7030.07
Total Net Shipping Charges: 7030.07
*********************************************************************************
INVOICE NUMBER 773984285
Transportation Base: 5866.99
Additional_Charges
Residential            1032.22
Declared Value          355.68
DAS Resi                227.04
DAS Extended Resi       158.80
Address Correction       81.62
DAS Comm                 37.84
Adult Signature          10.80
AHS - Dimensions          4.69
Additional Handling       4.17
DAS Extended Comm         1.92
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 1914.7800000000002
Total Transportation Base + 'Extra Charges': 7781.77
Total Net Shipping Charges: 7781.77
*********************************************************************************
INVOICE NUMBER 774827084
Transportation Base: 4940.139999999999
Additional_Charges
Residential           1470.56
Declared Value         340.08
DAS Resi               208.12
Unauthorized OS        129.56
DAS Extended Resi      111.56
Oversize Charge         64.41
Address Correction      58.30
DAS Comm                17.20
Adult Signature         12.96
Direct Signature         9.75
AHS - Dimensions         8.51
DAS Extended Comm        1.92
Name: Totals, dtype: float64

Total 'Extra Charges' NOT including Transportation Base: 2432.9299999999994
Total Transportation Base + 'Extra Charges': 7373.069999999999
Total Net Shipping Charges: 7373.07
*********************************************************************************

Shipment Date Filter

In [7]:
date_range_ship = df[df["Shipment Date"].between('2022-04-01','2022-04-30')] #filter by date range

In [8]:
#Create a series of all id columns id_april_shipment = pd.concat([date_range_ship["Tracking_id_1"], date_range_ship["Tracking_id_2"], date_range_ship["Tracking_id_3"], 
id_april_shipment = pd.concat([date_range_ship['Tracking ID Charge Description'], date_range_ship['Tracking ID Charge Description.1'], 
date_range_ship['Tracking ID Charge Description.2'], date_range_ship['Tracking ID Charge Description.3'], 
date_range_ship['Tracking ID Charge Description.4'], date_range_ship['Tracking ID Charge Description.5'],
date_range_ship['Tracking ID Charge Description.6']])
 
#Takes tracking amounts and stacks them on each other creating one long column
amount_april_shipment = pd.concat([date_range_ship['Tracking ID Charge Amount'], 
date_range_ship['Tracking ID Charge Amount.1'], date_range_ship['Tracking ID Charge Amount.2'], 
date_range_ship['Tracking ID Charge Amount.3'], date_range_ship['Tracking ID Charge Amount.4'],
date_range_ship['Tracking ID Charge Amount.5'], date_range_ship['Tracking ID Charge Amount.6']]) 

combo_april = pd.DataFrame(pd.concat([id_april_shipment, amount_april_shipment], axis = 1)) #combined above amount & id into df
combo_april.rename(columns={1:"Totals", 0:"Additional_Charges"}, inplace=True)
print("TOTALS FOR ALL INVOICES WITHIN SPECIFIED SHIPPING DATE RANGE")
print("TRANSPORTATION BASE CHARGE:", date_range_ship["Transportation Charge Amount"].sum())
print(combo_april["Totals"].groupby(combo_april["Additional_Charges"]).sum().sort_values(ascending=False)) 
print("*****************************************************************************************")
print("Total 'Extra Charges' NOT including Transportation Base:", combo_april["Totals"].sum())
print("April Shipment TOTALS:", date_range_ship["Transportation Charge Amount"].sum() + combo_april["Totals"].sum())
print("Net Charge Amount:",date_range_ship["Net Charge Amount"].sum())

TOTALS FOR ALL INVOICES WITHIN SPECIFIED SHIPPING DATE RANGE
TRANSPORTATION BASE CHARGE: 20555.9
Additional_Charges
Residential            2858.30
Declared Value         1124.24
DAS Resi                787.76
DAS Extended Resi       488.76
Address Correction      163.24
Unauthorized OS         129.56
Oversize Charge         128.82
DAS Comm                 80.84
AHS - Dimensions         40.47
Additional Handling      31.53
Adult Signature          25.92
DAS Extended Comm        13.44
Direct Signature         13.00
DAS Hawaii Comm           6.25
Indirect Signature        4.32
Name: Totals, dtype: float64
*****************************************************************************************
Total 'Extra Charges' NOT including Transportation Base: 5896.45
April Shipment TOTALS: 26452.350000000002
Net Charge Amount: 26452.35

In [9]:
date_range_ship["Shipment Date"].max() #check to see latest date in report

Timestamp('2022-04-29 00:00:00')

In [10]:
df["Invoice Date"].max() #Check to see latest invoice date

Timestamp('2022-05-06 00:00:00')

Residential Charges for Date Range

In [11]:
#Create seperate df for each of the columns and concat together

id_april_shipment_1 = date_range_ship[["Shipment Date", 'Tracking ID Charge Description']]

id_april_shipment_2 = date_range_ship[["Shipment Date",'Tracking ID Charge Description.1']]

id_april_shipment_3 = date_range_ship[["Shipment Date", 'Tracking ID Charge Description.2']]

id_april_shipment_4 = date_range_ship[["Shipment Date", 'Tracking ID Charge Description.3']]

id_april_shipment_5 = date_range_ship[["Shipment Date", 'Tracking ID Charge Description.4']]

id_april_shipment_6 = date_range_ship[["Shipment Date", 'Tracking ID Charge Description.5']]

id_april_shipment_7 = date_range_ship[["Shipment Date", 'Tracking ID Charge Description.6']]

#concat above columns for Shipment Dates
date_april_totals  = pd.concat([id_april_shipment_1["Shipment Date"], id_april_shipment_2["Shipment Date"],
                              id_april_shipment_3["Shipment Date"],
                              id_april_shipment_4["Shipment Date"], id_april_shipment_5["Shipment Date"], id_april_shipment_6["Shipment Date"],
                              id_april_shipment_7["Shipment Date"]])

#concat above columns for shipment description
id_april_totals  = pd.concat([id_april_shipment_1['Tracking ID Charge Description'], id_april_shipment_2['Tracking ID Charge Description.1'],
                              id_april_shipment_3['Tracking ID Charge Description.2'],
                              id_april_shipment_4['Tracking ID Charge Description.3'], id_april_shipment_5['Tracking ID Charge Description.4'], 
                              id_april_shipment_6['Tracking ID Charge Description.5'],
                              id_april_shipment_7['Tracking ID Charge Description.6']])
#concat above for final df 
total_res = pd.concat([date_april_totals, id_april_totals], axis = 1)
total_res.rename(columns={0:"Shipment_Description"}, inplace=True)

In [12]:
#Filter for all Residential Charges 
Residential_Charges = total_res[total_res["Shipment_Description"]=='Residential'].sort_values(by="Shipment Date", ascending=False)

In [13]:
Residential_Charges.sort_values(by='Shipment Date')

      Shipment Date Shipment_Description
13130    2022-04-01          Residential
13746    2022-04-01          Residential
13780    2022-04-01          Residential
13784    2022-04-01          Residential
13790    2022-04-01          Residential
...             ...                  ...
16735    2022-04-28          Residential
16728    2022-04-28          Residential
16727    2022-04-28          Residential
16740    2022-04-29          Residential
16739    2022-04-29          Residential

[1415 rows x 2 columns]

In [14]:
len(Residential_Charges) #Total Residential Charges in specified date range

1415